<p class="parrafosBien" id="parrafo1">
		HTML
		Por sus siglas en ingles:
		Lenguaje de marcado de hipertexto.
		Es uno de los lenguajes que entienden los navegadores viejos y nuevo, html tiene una sola funcion la estructura.

		Una pagina es como una persona.

		Cabeza,
		cuerpo,
		pies.

		En la cabeza entra lo que se llama para que la pagina funcione, visualmente esta oculto.

		En el cuerpo esta lo que podemos ver a la perfeccion, donde estan las imagenes, los links, los viedos.

		El footer o pie de pagina es donde colocamos información de la pagina, ejemplo los desarroladores, contacto, redes sociales.

		Semantica en HTML5

</p>
<p class="oculto" id="parrafo2">
	&lt!DOCTYPE html>
	&lthtml lang="en">
	&lthead>
		&ltmeta charset="UTF-8">
		&lttitle>Document</title>
	&lt/head>
	&ltbody>

	&lt/body>
	&lt/html>
</p>
<p class="oculto" id="parrafo3">
	BEM significa Modificador de Bloques de Elementos (Block Element Modifier) por sus siglas en inglés. Sugiere una manera estructura de nombrar tus clases, basado en las propiedades del elemento en cuestión. Si alguna vez has visto un nombre de una clase como header_from-email eso es precisamente BEM en acción. Cuando utilices la metodología BEM, debes tomar en cuenta que solamente usarás nombres de clases (no IDs). Los nombres de clases te permiten repetir el nombre BEM si es necesario, y crear una estructura de código más consistente (en ambos archivos el HTML y CSS/Saas). Ahora vamos descifrarlo.
</p>