<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Taller de paginas web</title>
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="css/normalize.css">
	<script src="lib/jquery-2.1.3.js"></script>
	<script src="js/script.js"></script>
	<script src="http://<< ipserver >>:5000/socket.io/socket.io.js"></script>
</head>
<body>
	<header class="cabeza">
		<nav class="menu">
			Como crear tu primer pagina web con buenas practicas
		</nav>
	</header>
	<section>
		<video id="dd"></video>
		<img class="diapositivas" id="miImg">
			
		<div class="chat">
			<div class="mensajes" id="respuesta"></div>
			<input type="text" id="mensaje" class="mensaje" placeholder="Mensaje..." required><a href="#" id="enviar" class="icon-play botonEnviar"></a>
		</div>
		<div class="archivos" id="archivos"></div>
	</section>
	<footer>
		<span>

			2015- Sistema desarrollado por el equipo kimvex
			
		</span>
		<input type="hidden" value="<< ipserver >>" id="ipserver">
		<input type="hidden" value=" << ipusuario >>" id="ipusuario">
	</footer>
</body>
</html>