<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Taller de paginas web</title>
	<link rel="stylesheet" href="css/estilo.css">
	<link rel="stylesheet" href="css/normalize.css">
	<script src="lib/jquery-2.1.3.js"></script>
	<script src="js/script.js"></script>
	<script src="http://<< ipserver >>:5000/socket.io/socket.io.js"></script>
</head>
<body>
	<header class="cabeza">
		<nav class="menu">
			<ul class="listaMenu">
				<li class="menuItem" id="streaming">Streaming</li>
				<li class="menuItem col" id="acceder">Accerder</li>
				<li class="menuItem col icon-iniciarStream" id="emitirS">Emitir</li>
				<li class="menuItem col icon-stop" id="detenerS">Detener</li>
				<li class="menuItem" id="pizarra">Pizarra</li>
				<li class="menuItem" id="archivosV">Archivos</li>
			</ul>
		</nav>
	</header>
	<section>
		<video id="video" controls autoplay class="oculto"></video>
		<canvas class="diapositivas oculto" id="miCanvas">
		</canvas>
		<canvas id="dd" class="diapositivas oculto"></canvas>
		<canvas class="" id="canvas"></canvas>
		<div class="chat">
			<div class="mensajes" id="respuesta"></div>
			<input type="text" id="mensaje" class="mensaje" placeholder="Mensaje..." required><a href="#" id="enviar" class="icon-play botonEnviar"></a>
		</div>
		<div class="archivos" id="archivos"></div>
	</section>
	<footer>
		<span>

			2015- Sistema desarrollado por el equipo kimvex
			
		</span>
		<input type="hidden" value="<< ipserver >>" id="ipserver">
		<input type="hidden" value=" << ipusuario >>" id="ipusuario">
		<form id="envioArchivos" class="envioArchivos" enctype="multipart/form-data">
			<input type="text" name="nombre" id='nombre' placeholder="Escribir el nombre del archivo">
			<input type="file" name="img" id="imagen">
			<input type="submit">
		</form>
		<input type="hidden" id="ds" value="">
	</footer>
	<script>
		localStorage.setItem('SS','benjamin');
		console.log(localStorage['SS']);
	</script>
</body>
</html>